<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>

    <!-- Load axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <%- include('./nav__main'); %>

    <% if (current === 'product') { %>
        <%- include('./nav__product'); %>
    <% } %>

    <%- contents %>

    <%- include('./footer'); %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>